export RHDH_HOST=""

export RHDH_BACKEND_SECRET=""

export RHDH_AUTH_GITHUB_CLIENT_ID=""
export RHDH_AUTH_GITHUB_CLIENT_SECRET=""
export RHDH_AUTH_GOOGLE_CLIENT_ID=""
export RHDH_AUTH_GOOGLE_CLIENT_SECRET=""

export RHDH_GITHUB_TOKEN=""

export RHDH_GITHUB_ORG=""
export RHDH_GITHUB_ORG_URL="https://github.com/${RHDH_GITHUB_ORG}"


