export RHDH_HOST=""

export RHDH_BACKEND_SECRET=""

export RHDH_AUTH_GITHUB_CLIENT_ID=""
export RHDH_AUTH_GITHUB_CLIENT_SECRET=""
export RHDH_AUTH_GOOGLE_CLIENT_ID=""
export RHDH_AUTH_GOOGLE_CLIENT_SECRET=""

export RHDH_POSTGRESQL_ADMIN_PASSWORD=""
export RHDH_POSTGRES_PASSWORD=""
export RHDH_POSTGRES_USER=""
export RHDH_POSTGRES_HOST=""
export RHDH_POSTGRES_PORT=""

export RHDH_GITHUB_TOKEN=""

export RHDH_GITHUB_ORG=""
export RHDH_GITHUB_ORG_URL="https://github.com/${RHDH_GITHUB_ORG}"
#export RHDH_GITHUB_APP_ID=""
#export RHDH_GITHUB_APP_CLIENT_ID=""
#export RHDH_GITHUB_APP_CLIENT_SECRET=""
#export RHDH_GITHUB_APP_WEBHOOK_URL=""
#export RHDH_GITHUB_APP_WEBHOOK_SECRET=""

# read contents of the ".pem" file and base64 encode it
# substitute <PRIVATE_FILE_LOCATION> with the actual location of .pem file
#export RHDH_GITHUB_APP_PRIVATE_KEY_FILE="$( cat <PRIVATE_FILE_LOCATION> | base64 )"

export RHDH_K8S_CLUSTER_URL=""
export RHDH_K8S_SA_TOKEN=""


