export RHDH_AUTH_GITHUB_CLIENT_ID=""
export RHDH_AUTH_GITHUB_CLIENT_SECRET=""
export RHDH_GITHUB_TOKEN=""

export RHDH_HOST_URL=""
export RHDH_AUTH_SESSION_SECRET=""
export RHDH_BACKEND_SECRET=""
export RHDH_LOG_LEVEL="aW5mbw=="

